a {
    color: #005295;
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

.text-muted {
    color: #949494;
}

.text-primary {
    color: #005295;
}

.text-success {
    color: #8CA2CB;
    color: #7c95c2;
}

/* 2021 update */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    padding-top: 8rem;
}

.logo {
    position: relative;
}

.logo::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 100%;
    height: 20%;
    background-color: #c1e0f8;
    z-index: -1;
}

.hero-p {
    width: 75%;
    font-size: 1.25rem;
    margin-top: 1.5rem;
}

.prose h2 {
    margin: 0rem 0 1.5rem 0;
    font-size: 2rem;
    font-weight: 600;
}

.prose h3 {
    margin: 3rem 0 1.5rem 0;

    font-size: 1.75rem;
    font-weight: 600;
}

.prose p {
    margin-top: 1.5rem;
    font-size: 1.15rem;
}

.instructions-btn {
    top: 12rem;
    left: 0;
}

@media only screen and (max-width: 960px) {
    .content {
        padding-top: 6rem;
    }

    .hero-p {
        width: 100%;
    }

    .instructions-btn {
        top: 10rem;
    }
}