<h2 class="text-success">
    Step 4: Pick your target group
    <small><a id="change_options" href="{{ url_for('star.options') }}">Change</a></small>
</h2>

<p>
    <strong>Target group</strong>
    <span>
    {{ session['options']['target_group'] }}
    </span>
</p>

{% if session['options']['target_group_name'] %}
<p>
    <strong>Target group name</strong>
    <span>{{ session["options"]["target_group_name"] }}</span>
</p>
{% endif %}

<p>
    <strong>Restrict dates to +/- 30 days from DST transition</strong>
    <span>
        {% if session["options"]["dst_restrict"] %}
        True
        {% else %}
        False
        {% endif %}
    </span>
</p>

