{% extends "layout.html" %}
{% import "_forms.html" as forms %}

{% block instructions %}
    <p>
        Now choose the columns in your records that we need for analysis. If you
        have one column with both date and time, select it for both date and
        time.
    </p>
    <p>
        Here are some acceptable formats for dates:
    </p>
    <ul>
        <li>2016-01-15</li>
        <li>1/15/2016</li>
        <li>Jan 15, 2016</li>
        <li>15 Jan 2016</li>
    </ul>
    <p>
        Here are some acceptable formats for time:
    </p>
    <ul>
        <li>5:00 PM</li>
        <li>17:00</li>
        <li>1700</li>
    </ul>
    <p>
        A common error with time in military format (HHMM) is the truncation
        of initial zeros, so that 8:00 AM will show up in the spreadsheet as
        800 instead of as 0800. Our datetime parser needs the initial 0.
    </p>
    <p>
        Officer ID can be helpful to detect disproportionality, but is not necessary.
    </p>
{% endblock %}

{% block form %}
    {% include "_step_1_success.html" %}
    {% include "_step_2_success.html" %}

    <h2 class="text-primary">Step 3: Select the right columns from your
        records</h2>

    {% if error -%}
        <div class="alert alert-danger">{{ error }}</div>
    {%- endif %}

    <h3>Preview your records</h3>

    {% if cols|length > 12 -%}
        <p>Your records have too many columns to preview.</p>
    {% else %}
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                {% for col in cols %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in sample %}
                <tr>
                    {% for el in row %}
                        <td>{{ el }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <form action="{{ url_for('star.columns') }}" method="POST">
        <h3>Select columns</h3>

        <div class="row">
            <div class="col-md-6 col-sm-9 col-xs-12">
                <div class="form-group">
                    <label for="date_column_input">Date column</label>
                    {{ forms.select(cols, "date_column", "date_column_input") }}
                </div>
                <div class="form-group">
                    <label for="time_column_input">Time column</label>
                    {{ forms.select(cols, "time_column", "time_column_input") }}
                    <p class="help-block">If you have one datetime column,
                        select it for
                        both date and time.</p>
                </div>
                <div class="form-group">
                    <label for="target_column_input">Column to check</label>
                    {{ forms.select(cols, "target_column", "target_column_input") }}
                    <p class="help-block">This column contains the group you
                        wish to
                        check for possible profiling.</p>
                </div>
                <div class="form-group">
                    <label for="target_column_input">Officer ID</label>
                    <select class="form-control" name="officer_id_column"
                            id="officer_id_input">
                        <option value="">I do not have an officer ID column
                        </option>
                        {% for col in cols -%}
                            <option value="{{ col }}">{{ col }}</option>
                        {%- endfor %}
                    </select>
                    <p class="help-block">
                        This column is optional.
                    </p>
                </div>
                <p>
                    <button type="submit" class="btn btn-default">Submit your
                        selections
                    </button>
                </p>
                <p class="text-danger">
                    This step may take several minutes to run, depending on the
                    size of your file and the format of your dates and times.
                </p>
            </div>
        </div>
    </form>

    <h2 class="text-muted">Step 4: Pick your target group</h2>

    <h2 class="text-muted">Step 5: See your analysis</h2>
{% endblock %}
