{% extends "layout.html" %}

{% block body %}
<section class="content" style="background: linear-gradient(180deg, #eff6fd 85%, #fff 15%);">
    <div class="container">
        <h1 class="fs-1 fw-bold">Statistical Traffic Analysis Report</h1>
        <p class="hero-p">
            This tool was created by
            <a class="fw-bold text-decoration-none text-primary" href="http://www.rti.org/">RTI International</a>
            to help examine traffic stop records for evidence of racial disproportionality and is based on the method developed by Grogger & Ridgeway (2006).
            <sup><a class="fw-bold text-primary" href="#footnote-1">1</a></sup>
        </p>

        <p class="hero-p">
            In order to use this tool, you need to have an Excel or CSV file
            of the traffic stop records for a city on which you want to run
            analysis. This data will need to have the date and time of each
            stop and the race of the driver that was stopped. A year or more
            of data is recommended.
        </p>

        <p class="hero-p">
            When you are ready to begin, click the button below. The
            process will take
            approximately 10 minutes.
        </p>

        <p>
            <a class="btn btn-lg btn-primary fw-bold my-3" href="{{ url_for('star.location') }}">
                Begin Analysis
            </a>
        </p>
        {% block banner %}
        <div class="my-5">
            <img
                alt="RTI-STAR (Statistical Traffic Analysis Report)"
                class="rounded"
                src="{{ url_for('static', filename="banner.jpg") }}"
            />
        </div>
        {% endblock %}
    </div>
</section>
<section class="container prose">
    <h3>Methodology</h3>

    <p class="hero-p">
        To study the racial distribution of traffic stops, the tool uses
        the Veil of Darkness (VOD) approach, which is based on the logic
        that police officers are less capable of determining the race of
        a motorist after dark than they are during daylight. Using this
        method, the existence of racial disproportionality in traffic
        stops is assessed by comparing the race distribution of stops
        made during daylight to the race distribution of stops made
        after dark, after adjusting for other factors in a regression
        model. The analysis is limited to stops that occur during the
        evening intertwilight period (roughly between 5:00 PM and 9:00
        PM, depending on location) in order to reduce the variation in
        travel patterns that are conditional on time of day.
    </p>

    <p class="hero-p">
        The VOD method was developed and first employed by Jeffery
        Grogger and Greg Ridgeway in an analysis of traffic stops in
        Oakland, California, and Cincinnati, Ohio. The method has also
        been used in studies focusing on the nature of traffic stops in
        Minneapolis, Minnesota, Syracuse, New York, and more recently in
        San Diego, California, and the state of Connecticut.
    </p>

    <p class="hero-p">
        Our tool incorporates one enhancement from these previous
        studies.  That is, our model accounts for within-officer
        correlation that is likely to occur (when this information is
        available in the data). By doing so, we recognize that officers
        may have inherent differences in the percentage of a racial or
        ethnic subset of the population that they are likely to
        encounter. These differences may be caused by factors such as
        geographic deployment or unit assignment.
    </p>

    <h3>How to interpret results</h3>

    <p class="hero-p">
        One benefit of the VOD approach is its statistical
        quantification of
        disproportionality present in a community using a reliable data
        source.  If the reported <strong>risk ratio</strong> (i.e., risk
        of being in a
        traffic stop reference group during light vs. dark periods) is
        acceptably close to 1.0, or in other words if the <strong>percentages</strong>
        of
        reference group traffic stops during light vs. dark
        intertwilight
        are acceptably close to one another, it suggests that daylight
        was
        not meaningfully associated with the race or ethnicity of the
        driver
        who was stopped.  Alternatively, if the risk ratio is
        meaningfully
        <em>greater than 1.0</em>, it suggests possible racial
        disproportionality
        (i.e., that reference group motorists, a racial or ethnic subset
        of
        the population of interest, are more likely to be among those
        stopped during times when visibility is higher compared to times
        when visibility is lower).
    </p>

    <p class="hero-p">
        We provide the <strong>level of statistical
        significance</strong> for the effect of daylight vs.
        intertwilight as well.  Significance levels between 0 and 0.05
        (when accompanied
        by risk ratios <em>greater than 1.0</em>) are more indicative of
        a potential problem with
        disproportionality, and significance levels between 0.05 and 1.0
        are less
        indicative of a potential problem.  However, given the large
        sample sizes
        available for traffic stop data, interpretation of results
        should be more
        focused on the size of the difference in the percentages (or,
        equivalently,
        their ratio).
    </p>

    <p class="hero-p">
        This tool provides a quantified description of traffic stop
        disparities in a community. The results can be useful in a
        number
        of ways: to determine whether there is meaningful evidence of
        racial disproportionality in traffic stops for a given reference
        group, to compare results across various subgroups of stops
        (e.g.,
        across gender, across police units) to pinpoint subgroups that
        need
        more attention than others, and to compare results before vs.
        after
        an intervention is implemented. 
    </p>

    <p class="hero-p">
        This method identifies patterns of disproportionate contact with
        law
        enforcement in regard to traffic stops for selected reference
        groups
        in a defined time range. This tool does <strong>not</strong>
        alone conclusively
        identify agencies and/or officers that are engaging in the
        practice
        of racial bias. Finally, this method does not analyze or provide
        context for the reason or cause for a traffic stop or set of
        traffic
        stops to be conducted by a law enforcement officer.
    </p>
    <p class="hero-p">
        This tool does not provide a customized analysis for each
        dataset
        and results should be considered preliminary. Further analyses
        may
        still be warranted to better understand the results and verify
        that
        the preliminary analysis has been conducted in a proper and
        legitimate manner.
    </p>

    <h3>References</h3>

    <p class="hero-p pt-3">
        <a name="footnote-1"></a>
        <span class="fw-bold text-primary">1.</span> Grogger & Ridgeway (2006). Testing for Racial Profiling in
        Traffic Stops From Behind a Veil of Darkness. <em>Journal of the
        American Statistical Association, 101</em>(475), 878-887.
        Retrieved from
        <a class="fw-bold text-decoration-none text-primary" href="http://www.rand.org/pubs/reprints/RP1253.html">http://www.rand.org/pubs/reprints/RP1253.html</a>.
    </p>
</section>
<div class="col-lg-6 col-md-5 visible-lg visible-md">
</div>
{% endblock %}
