{% extends "layout.html" %}

{% block instructions %}
    <p>
        In order to complete your traffic stop analysis, you are going to need
        to know the city you are analyzing and have an Excel or CSV file of the
        traffic stop records for that city.

        First, choose your city. If we find more than one city with that name,
        you'll have a chance to pick which one.
    </p>
{% endblock %}

{% block form %}
    <h2 class="text-primary">Step 1: Choose your city</h2>

    {% if error -%}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {%- endif %}

    <form action="{{ url_for("star.location") }}" method="POST">
        <div class="form-group">
            <input type="text" name="location" id="location"
                   class="form-control" placeholder="Your city"
                   aria-label="Your city" />
            <p class="help-block">When you start to enter your city, a menu will
                appear with suggestions. You can choose one of them or keep
                typing.</p>

        </div>

        <button type="submit" class="btn btn-default">
            Choose your city
        </button>
    </form>

    <h2 class="text-muted">Step 2: Upload your traffic stop records</h2>
    <h2 class="text-muted">Step 3: Select the right columns from your
        records</h2>
    <h2 class="text-muted">Step 4: Pick your target group</h2>
    <h2 class="text-muted">Step 5: See your analysis</h2>
    <script src="{{ url_for('static', filename="location.js") }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initAutocomplete"
            async defer></script>
{% endblock %}
