{% extends "layout.html" %}
{% block progress %}
<div class="progress mb-2" style="height: 25px;">
    <div class="progress-bar px-3 text-end fs-6" role="progressbar" style="width: 30%;" aria-valuenow=30" aria-valuemin="0" aria-valuemax="100">30%</div>
</div>
{% endblock %}
{% block instructions %}
    <p>
        You must upload a CSV file with your traffic stop records for this step.
        If you have an Excel file, <a class="text-decoration-none text-primary"
            href="https://support.office.com/en-us/article/Import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba">learn
        how to convert it in Office.</a>
    </p>
    <p>
        Your file must have a column for date, a column for time, and a column
        with the groups you wish to check for profiling. If you have one column
        with both date and time in it, that will work.
    </p>
    <p>
        Here are some acceptable formats for dates:
    </p>
    <ul>
        <li>2016-01-15</li>
        <li>1/15/2016</li>
        <li>Jan 15, 2016</li>
        <li>15 Jan 2016</li>
    </ul>
    <p>
        Here are some acceptable formats for time:
    </p>
    <ul>
        <li>5:00 PM</li>
        <li>17:00</li>
        <li>1700</li>
    </ul>
{% endblock %}

{% block form %}
    {% include "_step_1_success.html" %}

    <h2 class="text-primary fw-bold mt-0">Step 2: Upload Traffic Stop Records</h2>

    {% if error -%}
        <div class="alert alert-danger" style="font-size: 1rem;">{{ error }}</div>
    {%- endif %}

    <form action="{{ url_for('star.upload') }}" method="POST"
          enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="records" class="form-control"
                   aria-label="Your records"/>
        </div>
        <p class="my-4 fs-6">You must upload a CSV file with your traffic stop records for this step.
            If you have an Excel file, <a class="text-decoration-none text-primary"
                href="https://support.office.com/en-us/article/Import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba">learn
            how to convert it in Office.</a></p>
        <p class="mt-4 fs-6">Your file must have a column for date, a column for time, and a column
            with the groups you wish to check for profiling. If you have one column
            with both date and time in it, that will work.</p>
        <button type="submit" class="btn btn-primary mt-3">Upload file
        </button>
    </form>

    <button type="button" class="d-flex align-items-center btn text-primary fw-bold mt-4 mb-5" data-bs-toggle="modal" data-bs-target="#instructionsModal">
        <svg xmlns="http://www.w3.org/2000/svg" style="height: 24px; width: 24px; margin-right: 5px;" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg><span>Help</span>
    </button>

    <h2 class="text-muted fs-3 fw-light">Step 3: Select Columns From Your Records</h2>

    <h2 class="text-muted fs-3 fw-light">Step 4: Pick Target Group</h2>

    <h2 class="text-muted fs-3 fw-light">Step 5: See your analysis</h2>
{% endblock %}
